<div class="navBar">
  <div class="title-div">
    <i class="fa-solid fa-book-open-reader"></i>
    <span>Journal</span>
  </div>
  <div class="links-div">
    <a href="/"><span>Home</span></a>
    <a href="/contact"><span>Contact</span></a>
    <a href="/about"><span>About</span></a>
  </div>
  <div class="searchBar-div">
    <input
      type="text"
      name="search"
      id="search"
      class="search"
      placeholder="Search"
    />
    <button class="searchButton" onclick="searchBlog();">
      <i class="fa-solid fa-search"></i>
    </button>
  </div>
  <div class="myBlogOptions-div ms-auto">
    <% let disabledClassName = (userInfo.emailId && true)?"":"pe-none disabled"
    %>
    <a href="/myBlogs" id="myBlog" class="<%= disabledClassName %>"
      ><span>My Blogs</span></a
    >
    <a href="/newBlog" id="newBlog" class="<%= disabledClassName %>"
      ><span>New Blog</span></a
    >
  </div>
  <% if (userInfo.info === undefined) { %>
  <div class="userId-div" onclick="signIn()">
    <span class="userId">Sign in</span>
    <i class="fa-solid fa-user-plus"></i>
  </div>
  <% } else { %>
  <div class="userId-div" onclick="">
    <span class="userId"><%= userInfo.info.userName %> </span>
    <i class="fa-solid fa-user p-2 rounded-3"></i>
    <div class="logOut">
      <a href="logout">LogOut &nbsp;<i class="fa-solid fa-sign-out"></i></a>
    </div>
  </div>
  <% } %>
</div>

<script>
  $(".logOut").hide();
  $(".userId-div").click(() => {
    $(".logOut").slideToggle(500);
  });
  let lastScrollTop = 0;
  $(window).scroll((e) => {
    if ($(this).scrollTop() > lastScrollTop) {
      $(".navBar").fadeOut();
    } else {
      $(".navBar").fadeIn();
    }
    lastScrollTop = $(this).scrollTop();
  });
  $(".navBar").focusout(() => {
    $(".logOut").fadeOut(1000);
  });
</script>
