<%- include("partials/Header") %> 

<!-- Navigation bar -->
<%- include("partials/NavBar") %> 
<div class="container aboutContainer">
  <h1>About us</h1><br>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolore rem, veritatis obcaecati labore enim, quia iusto dignissimos tempora necessitatibus sed doloribus error minus alias quisquam sapiente soluta deserunt. Iure.</p>
</div>


<!-- Footer -->
<%- include("partials/Footer") %> 