<%- include("partials/Header") %> 

<!-- Navigation bar -->
<%- include("partials/NavBar") %> 
<div class="container contactContainer">
  <h1>Contact us</h1>
  <div class="contact-links">
    <a href="mailto:jksubi@gmail.com" class="mailId icons">
      <div class="mailLogo logo">
        <img src="Logos/gmailLogo.png" alt="gmail">
      </div>
      <span class="mailText txt"> Subachandran JK </span>
  </a>
  <a href="https://www.twitter.com" class="twitter icons">
    <div class="twitterLogo logo">
      <img src="Logos/twitterLogo.png" alt="twitter">
    </div>
    <span class="twitterText txt"> Subachandran JK </span>
  </a>
  <a href="https://www.instagram.com" class="Instagram icons">
    <div class="instaLogo logo">
      <img src="Logos/instaLogo.png" alt="instagram">
    </div>
    <span class="instaText txt"> Subachandran-JK </span>
  </a>
</div>
</div>


<!-- Footer -->
<%- include("partials/Footer") %> 